*{
    margin: 0;
    border: 0px;
}

.logo{
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    float: left;
    padding-left: 20%;
}
.info{
    height: 100%;
    width: 40%;
    float: left;
    padding-left: 10%;
    box-sizing: border-box;
}
.info ul{
    width: 100%;
    font-size: 20px;
    list-style: none;
    float: left;
    margin: 0 auto;
    box-sizing: border-box;
}
.info ul li{
    float: left;
    line-height: 100px;
    padding: 0 15px;
}
.info ul li a{
    color: red;
    text-decoration: none;
}